<!-- Base html page for header and footer

Header will be a stylized title of the website.

Will contain an empty body. The base html will be inherited by all the other html files
so the body will be filled out through them.

Footer will give credit to RAWG and Steam Web API.

A consideration to make may be a back button built into the website in the case where users
may need to scroll very far.

-->

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<header>
    <h1>Personal Video Game Recommender</h1>
</header>
<body>
{% block content %}{% endblock %}
</body>
<footer>
    Data from <a href = "https://rawg.io/apidocs">RAWG API</a> and
    <a href = https://steamcommunity.com/dev>Steam Web API</a>.
</footer>
</html>